{% extends 'base.html.twig' %}
        {% block stylesheets %}
                <link rel="stylesheet" href="{{ asset('styles/listStyle.css') }}">
            {% endblock %}
    {% block contenido %}
        {% for mensaje in app.flashes('success')%}
                <p>{{mensaje}}</p>
        {% endfor %}
    <h2>Nuestros dibujos</h2>
    <div class="row row-cols-1 row-cols-md-3"> {# PARA CADA POKEMON #}
            {% for drawing in drawings %}
            <div class="col mb-4">
                    <div class="card" style="width: 18rem;"> <img src="{{drawing.imagen}}" class="card-img-top">
                            <div class="card-body">
                                    <h5 class="card-title">{{drawing.nombre}}</h5>
                                    <p class="card-text"></p> 
                                    <a href="{{ path('detail',{id:drawing.id}) }}" class="btn btn-primary">Ir al dibujo</a>
                                    </div>
                    </div>
            </div> 
            {% endfor %}
    </div>
    {% endblock %}
    